# Angular & Node
node_modules/
dist/
tmp/
*.log
*.tmp
*.env

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# System files
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Angular cache
.angular/