<div class="p-4 max-w-xl mx-auto text-center">
  <h1 class="text-2xl font-bold mb-4">AI Calorie Finder 🍽️</h1>

  <input [(ngModel)]="foodName" placeholder="مثلاً قرمه سبزی" class="border p-2 w-full mb-2" />
  <button (click)="search()" class="bg-blue-500 text-white px-4 py-2 rounded">جستجو</button>

  <div *ngIf="loading" class="mt-4">در حال پردازش...</div>

  <div *ngIf="result" class="mt-4 text-left bg-gray-100 p-4 rounded">
    <p><strong>نام:</strong> {{ result()?.name }}</p>
    <p><strong>کالری:</strong> {{ result()?.calories }}</p>
    <p><strong>پروتئین:</strong> {{ result()?.protein }}</p>
    <p><strong>چربی:</strong> {{ result()?.fat }}</p>
    <p><strong>کربوهیدرات:</strong> {{ result()?.carbs }}</p>
  </div>
</div>
